nav {
    height: 10%;
}
button {
     padding: 10px;
     margin: 0 10px;
     width: 100px;   
}

.scene {
    width: 400px;
    height: 400px;
    border: 1px solid #CCC;
    perspective: 500px;
  }
  
  .cube {
    width: 400px;
    height: 400px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 1s;
    margin: auto;
  }

  
  .Front  { transform: translateZ(-200px) rotateY(   0deg);}
  .Right  { transform: translateZ(-200px) rotateY( -90deg);}
  .Back   { transform: translateZ(-200px) rotateY(-180deg);}
  .Left   { transform: translateZ(-200px) rotateY(  90deg);}
  .Top    { transform: translateZ(-200px) rotateX( -90deg);}
  .Bottom { transform: translateZ(-200px) rotateX(  90deg);}
  
  .cubeFace {
    position: absolute;
    width: 400px;
    height: 400px;
    border: 2px solid black;
    line-height: 400px;
    font-size: 40px;
    font-weight: bold;
    color: black;
    text-align: center;
  }
  

  .cubeFaceFront  { background: hsla(  0, 100%, 50%, 0.7); }
  .cubeFaceRight  { background: hsla( 60, 100%, 50%, 0.7); }
  .cubeFaceBack    { background: hsla(120, 100%, 50%, 0.7); }
  .cubeFaceLeft   { background: hsla(180, 100%, 50%, 0.7); }
  .cubeFaceTop    { background: hsla(240, 100%, 50%, 0.7); }
  .cubeFaceBottom { background: hsla(300, 100%, 50%, 0.7); }
  /* .cubeFaceFront  { background-color: white; }
  .cubeFaceRight  { background-color: white;height: 80vh;}
  .cubeFaceBack    { background-color: white; }
  .cubeFaceLeft   { background-color: white; height: 80vh;}
  .cubeFaceTop    { background-color: white; }
  .cubeFaceBottom { background-color: white; } */
  
  .cubeFaceFront  { transform: rotateY(  0deg) translateZ(200px); }
  .cubeFaceRight { transform: rotateY( 90deg) translateZ(200px); }
  .cubeFaceBack  { transform: rotateY(180deg) translateZ(200px); }
  .cubeFaceLeft  { transform: rotateY(-90deg) translateZ(200px); }
  .cubeFaceTop   { transform: rotateX( 90deg) translateZ(200px); }
  .cubeFaceBottom { transform: rotateX(-90deg) translateZ(200px); }